<!DOCTYPE html>
<html lang="en" ng-app="votr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta charset="UTF-8">
    <title>Votr</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="votr.css">
    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="votr.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

<!--<nav class="navbar navbar-inverse navbar-fixed-top">-->
    <!--<div class="container-fluid">-->
        <!--<div class="navbar-header">-->
            <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">-->
                <!--<span class="sr-only">Toggle navigation</span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
            <!--</button>-->
            <!--<a class="navbar-brand" href="#">Votr</a>-->
        <!--</div>-->
        <!--<div class="collapse navbar-collapse" id="navbar">-->
            <!--<ul class="nav navbar-nav navbar-right">-->
                <!--<li>-->
                    <!--<a id="login-link" data-toggle="modal" data-target="#login-modal" href="#">Sign in</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
<!--</nav>-->

<div class="app container" >
    <h1 class="header text-center">Votr</h1>

    <div ng-controller="VotrController as votr">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 well col-md-6 col-md-offset-3">
            <form class="add-item-form" ng-submit="votr.addListItem()">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Enter an item to add..." ng-model="votr.listItemText"/>
                    <span class="input-group-btn">
                        <input class="btn btn-default" type="submit" value="Add"/>
                    </span>
                </div>
            </form>

            <ul class="list-group">
                <li class="list-group-item" ng-repeat="listItem in votr.listItems track by $index" ng-class="{selected: listItem === votr.selectedItem}">
                    {{listItem}}
                    <a class="removal-link pull-right glyphicon glyphicon-remove-circle" ng-click="votr.removeListItem($index)"></a>
                </li>
            </ul>

            <div class="clear-link-wrapper" ng-if="votr.displayControls()">
                <a class="clear-link pull-right" ng-click="votr.clearList()">Clear</a>
            </div>

            <button class="btn btn-default" ng-click="votr.pickItem()" ng-if="votr.displayControls()">Pick One!</button>

        </div>
    </div>
</div>

<!-- Login Modal -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="login-modal-label">Sign in</h4>
            </div>
            <div class="modal-body">
                I should really implement this...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Sign in</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>