html, body {
    background-color: #2196F3;
}

.navbar-brand {
    color: #FFC107;
    font-family: 'Lobster', cursive;
}

.header {
    color: #FFC107;
    font-family: 'Lobster', cursive;
    font-size: 5em;
}

.app {
    margin-top: 100px;
}

.add-item-form {
    margin-bottom: 20px;
}

.list-group {
    margin-bottom: 5px;
}

.list-group-item.selected {
    background-color: #FFE856;
}

.removal-link {
    color: red;
    font-size: 130%;
}

.removal-link:hover {
    color: red;
    cursor: pointer;
    text-decoration: none;
}

.clear-link-wrapper {
    margin-bottom: 15px;
    width: 100%;
}

.clear-link {
    cursor: pointer;
}