.add-item-form {
    margin-bottom: 20px;
}

.list-group-item.selected {
    background-color: #FFE856;
}

.removal-link {
    color: red;
    font-size: 130%;
}

.removal-link:hover {
    color: red;
    cursor: pointer;
    text-decoration: none;
}